<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Создать комнату</title>
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 50px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .btn-primary {
            width: 100%;
        }
        .alert {
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="container">
    <h2 class="text-center mb-4">Создание комнаты</h2>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <form action="#" th:action="@{/room/create}" th:object="${roomDto}" method="post">
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required />
        </div>
        <div class="form-group">
            <label for="idOrganizer">Создатель:</label>
            <input type="number" class="form-control" id="idOrganizer" th:field="*{idOrganizer}" readonly="readonly" required />
        </div>
        <div class="form-group">
            <label for="tossDate">Дата обмена:</label>
            <input type="date" class="form-control" id="tossDate" th:field="*{tossDate}" required />
        </div>
        <div class="form-group">
            <label for="drawDate">Дата жеребьевки:</label>
            <input type="date" class="form-control" id="drawDate" th:field="*{drawDate}" required />
        </div>
        <div class="form-group">
            <label for="place">Место:</label>
            <input type="text" class="form-control" id="place" th:field="*{place}" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Создать комнату</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>