<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Комната</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 0px;
        }
        .room-info {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            background-color: #f8f9fa;
            border-radius: 5px;
        }
        .room-info h2 {
            margin-top: 0;
        }
        .room-info p {
            margin-bottom: 5px;
        }
        .room-info a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="container">
    <h1 class="mt-4 mb-3">Комната</h1>
    <div th:if="${errorMessage !=null}">
        <p class="alert alert-danger" th:text="${errorMessage}">Ошибка</p>
    </div>
    <div th:each="roomAndOrganizerWrapper : ${roomAndOrganizerWrapper}" class="room-info">
        <h2 th:text="${roomAndOrganizerWrapper.room.name}">Название комнаты</h2>
        <p>Организатор: <span th:text="${roomAndOrganizerWrapper.userInfo.name}">Организатор</span></p>
        <p>Дата жеребьевки: <span th:text="${roomAndOrganizerWrapper.room.tossDate}">Дата дарения</span></p>
        <p>Дата дарения: <span th:text="${roomAndOrganizerWrapper.room.drawDate}">Дата жеребьевки</span></p>
        <p>Место проведения: <span th:text="${roomAndOrganizerWrapper.room.place}">Место проведения</span></p>
        <a class="btn btn-primary" th:href="@{/result/show/{idRoom}(idRoom=${roomAndOrganizerWrapper.room.idRoom})}">Просмотр результатов</a>
        <a class="btn btn-primary" href="#" th:href="@{/room/{id}/join(id=${roomAndOrganizerWrapper.room.idRoom})}" target="_blank">Присоединиться</a>
        <a class="btn btn-primary" href="#" th:if="${loginUser.name == roomAndOrganizerWrapper.userInfo.name}" th:href="@{/result/drawing/{idRoom}(idRoom=${roomAndOrganizerWrapper.room.idRoom})}">Провести жеребьевку</a>
        <a class="btn btn-primary" href="#" th:href="@{/room/{idRoom}/users-and-roles(idRoom=${roomAndOrganizerWrapper.room.idRoom})}">Участники</a>
        <a class="btn btn-primary" href="#" th:if="${loginUser.name == roomAndOrganizerWrapper.userInfo.name}"  th:href="@{/invite/send/{idRoom}(idRoom=${roomAndOrganizerWrapper.room.idRoom})}">Приглашение через телеграм</a>
    </div>
</div>
</body>
</html>