<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room List</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<h2>Пользователи и роли в комнате</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Роль</th>
        <th>Комната</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userAndRole : ${usersAndRoles}">
        <td th:text="${userAndRole[0]}"></td>
        <td th:text="${userAndRole[1]}"></td>
        <td th:text="${userAndRole[2]}"></td>
        <td th:if="${user.name==organizer.name}">
            <form th:action="@{/room/{idRoom}/users/{idUserInfo}(idRoom=${userAndRole[2]}, idUserInfo=${userAndRole[0]})}" method="post">
            <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>