<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div>
    <h1>Список пользователей</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Пароль</th>
            <th>Telegram</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userInfoEntity}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.telegram}"></td>
            <td>
                <form th:action="@{/delete/{id}(id=${user.id})}" th:method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>

</div>
</body>
</html>